/* All common css start here  */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

.link_btn {
    border-radius: 1px;
    border: 1px solid #00e0d0;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: 400;
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
}

.common_heading  {
    margin-bottom: 80px;
}
.common_heading h3 {
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    padding-bottom: 18px;
}
.common_heading p {
    font-size: 14px;
    font-weight: 400;
    color: #2f2d35;
    font-family: 'Playfair Display', serif;
    position: relative;
    line-height: 31px;
}
.common_heading p::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 50px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #c6c4c9;
}

/* All common css end here  */


/* header part start here  */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
}

/* sticky header  */

.sticky_header{
    background: linear-gradient(to right, #09052f,  #311d5e);
    animation: alamin 1s;
    }
    @keyframes alamin{
    from{
    top: -100px;
    }
    to{
    top: 0;
    }
    }

/* sticky header  */


.navbar-expand-lg .navbar-nav .nav-link {
	font-size: 13px;
    font-weight: 900;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    transition: .4s ease;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #00e0d0;
}

/* header part end here  */


/* home part start here  */

#home {
    background: url(../images/home-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_overlay {
    background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
    padding-top: 228px;
    padding-bottom: 207px;
}

.home_content h3 {
    font-size: 32px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    line-height: 40px;
}
.home_content p {
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	padding: 0 190px;
	margin-top: 58px;
	margin-bottom: 53px;
}

/* home part end here  */


/* story part start here  */

#story {
    padding: 70px 0;
}

.story_content h3 {
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    padding-bottom: 30px;
}
.story_content p {
    font-size: 14px;
    font-weight: 300;
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}
.second_p {
    font-size: 14px;
    font-weight: 300;
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    margin: 30px 0;
}

/* story part end here  */



/* video part start here  */

#video {
    background: url(../images/video-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video_overlay {
    background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
    padding: 202px 0;
}
.video_overlay p {
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding-top: 34px;
}

/* video part end here  */



/* expertise part start here  */

#expertise {
    padding: 70px 0;
}

.expertise_content h3 {
    font-size: 14px;
    font-weight: 900;
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 25px;
    padding-top: 35px;
}
.expertise_content p {
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    padding: 0 95px;
}

/* expertise part end here  */



/* teams part start here  */

#teams {
    background: url(../images/team-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team_overlay {
    background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
    padding: 70px 0;
}
.team_overlay .common_heading p {
    color: #fff;
}
.team_overlay .common_heading h3 {
    color: #f9f9f9;
}
.team_overlay .common_heading p::after {
     background: #655c80;
}

.team_text {
    border: 1px solid #78768b;
    padding: 22px 62px;
    background:transparent;
}
.team_text h3 {
    font-size: 14px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 11px;
}
.team_text p {
    font-size: 13px;
    font-weight: 300;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
.team_last_text h3 {
    font-size: 14px;
    font-weight: 300;
    color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 29px;
}

/* teams part end here  */



/* works part start here  */

#works {
    padding: 70px 0;
}

.work_item {
    width: 16.66%;
}

.filler_btn button {
    padding: 10px 10px;
    background: transparent;
    border: 1px solid #dddddd;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Hammersmith One', sans-serif;
}

/* works part end here  */


/* feedback part start here  */

#feedback {
    background: url(../images/feedback-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feedback_overlay {
    background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
    padding-top: 118px;
    padding-bottom: 75px;
}

.feedback_text i {
    font-size: 30px;
    color: #ebeaee;
    padding-bottom: 50px;
}
.feedback_text p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    line-height: 26px;
    padding: 0 160px;
}
.feedback_text h3 {
    font-size: 14px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding-top: 43px;
    padding-bottom: 10px;
}
.feedback_text h4 {
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 43px;
}

/* feedback part end here  */



/* contact part start here  */

#contact {
    padding: 70px 0;
}

.contact_heading h3 {
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    padding-bottom: 35px;
}

form .link_btn {
    padding: 15px 32px;
    margin-top: 30px;
}


/* contact part end here  */


/* footer part start here  */

#footer {
    background: url(../images/footer-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_overlay {
    background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
    padding: 70px 0;
}

.footer_content_one {
    text-align: start;
}

.footer_content_one p {
    font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	line-height: 26px;
}


.footer_menu button {
    background: transparent;
    border: none;
    font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
    padding-right: 33px;
}

.footer_content_two h3 {
    font-size: 15px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 65px;
    padding-left: 80px;
    margin-top: 20px;
}
.footer_content_two p {
    font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
    line-height: 26px;
    padding: 0 80px;
}
.footer_content_two i {
    font-size: 19px;
	color: #ffffff;
    padding-right: 10px;
}

.call_btn i {
    font-size: 19px;
	color: #ffffff;
    padding-right: 10px;
}
.call_btn a {
	color: #ffffff;
}
.call_btn  {
    background: transparent;
    border: none;
    font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
    margin-left: 80px;
    margin-top: 25px;
}


.footer_content_three h3 {
    font-size: 15px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 65px;
    margin-top: 20px;
}
.footer_submit_btn form input {
    background: transparent;
    border: 1px solid #a199b3;
    height: 45px;
    width: 211px;
    border-radius: none;
    font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
    padding: 0 27px;
    margin-right: 10px;
}
.footer_submit_btn button {
    background: transparent;
    border: 1px solid #a199b3;
    height: 45px;
    width: 211px;
    border-radius: none;
    font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}

#btn_2  {
    background: #a199b3;
    height: 45px;
    width: 70px;
}
#btn_2  {
    font-size: 25px;
    color: black;
}


.social_icon i {
    font-size: 35px;
    color: #ffffff;
    padding: 0 5px;
}

.copyright p {
    font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
    padding-left: 80px;
}
/* footer part end here  */

/* back-to-top  */

.back-to-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.back-to-top i {
    font-size: 50px;
    color: #2f2d35;
}

/* back-to-top  */
