/* All common css start here  */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

/* All common css end here  */


/* header css start here  */

.navbar {
    background: #FAE3B6;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2222;
}

.navbar-nav .nav-item .nav-link {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.auth_btn a {
    padding: 15px 25px;
    background: #FFD687;
    border: 1px solid #FDBB57;
    border-radius: 10px;
    margin-left: 10px;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: 0px 10px 14px -7px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 10px 14px -7px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 10px 14px -7px rgba(0, 0, 0, 0.18);
}

.auth_btn a:hover {
    background: #FDBB57;
    border: #FDBB57;
}

/* header css end here  */




/* banner part start here  */

#banner_part{
    padding: 235px 130px;
    background: #FAE3B6;
}
.banner_text h3{
    font-size: 64px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    line-height: 80px;
}
.banner_text p{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    line-height: 33px;
    margin-top: 45px;
    margin-bottom: 75px;
}
.banner_text a{
    padding: 20px 45px;
    background: #000000;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.banner_image{
    text-align: right;
    position: relative;
    z-index: 111;
}
.G_DOT{
    position: absolute;
    bottom: -80px;
    right: 766px;
}

/* banner part end here  */





/* collection part css start here  */

#Collection_part{
    padding-top: 230px;
    padding-bottom: 135px;
}

.head h3{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Frank Ruhl Libre', serif;
    color: #000000;
    text-align: center; 
    margin-bottom: 129px;
}
.collection_card_img{
    position: relative;
}
.collection_card_title{
    padding: 15px 105px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5555;
}
.collection_card_title h3{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
.collection_card_img_3{
    position: relative;
}
.collection_card_img_3 img{
    height: 470.767px;
}
.collection_card_title_3{
    padding: 15px 105px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5555;
}
.collection_card_title_3 h3{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
/* collection part css end here  */




/* Best Fashion part start here  */

#b_f_p{
    position: relative;
    padding-top: 235px;
    height: 1224px;
}
#g_point {
	position: absolute;
	top: 125px;
	left: 576px;
	z-index: -2;
}
#g_point_2 {
	position: absolute;
	bottom: -44px;
	left: 60px;
}
#pointer {
	position: absolute;
	width: 793px;
	height: 240px;
	border-radius: 20px;
	top: 848px;
	right: 0px;
	background: #FEECC8;
	padding: 65px 0;
	z-index: -1;
}
#pointer h3{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Podkova', serif;
    color: #000000;
}
#pointer p{
    font-size: 28px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
#bs_data{
    text-align: center;
}
#bs_data h3{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Frank Ruhl Libre', serif;
    color: #000000;
    text-align: left; 
    line-height: 80px;
    padding-top: 77px;
}
#bs_data p{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    line-height: 36px;
    padding-top: 80px;
    text-align: left;
}
#m_b{
   margin-bottom: 200px;
   padding-bottom: 200px;
}
/* Best Fashion part end here  */




/* Best_seller_product start here  */

#Best_seller_product{
    background: #CFA485;
    padding-top: 55px;
    padding-bottom: 191px;
}
.BSP_text h3{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Frank Ruhl Libre', serif;
    color: #ffffff;
    line-height: 80px;
    padding-left: 44px;
}
.BSP_text p{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Frank Ruhl Libre', serif;
    color: #ffffff;
    line-height: 31px;
    padding: 50px 44px;
    text-align: left;
}
.BSP_text a{
    width: 319px;
    height: 86px;
    border-radius: 10px;
    background: #000000;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
}

.BSP_Card{
    width: 366px;
    height: 551;
}
.BSP_Card_image{
    width: 100%;
}
.BSP_Card_Body{
    width: 366px;
    height: 127px;
    background: #ffffff;
}
.BSP_Card_Body img{
    padding-top: 10px;
    padding-left: 10px;
}
.BSP_Card_Body h3{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.BSP_Card_Body p{
    color: #c4c4c4;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}
.BSP_Card_Body h6{
    color: #000000;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}
/* Best_seller_product end here  */


/* our product part start here  */

#our_product {
    padding-top: 58px;
    position: relative;
}

.op_gpoint {
    top: 303px;
    left: 0;
    position: absolute;
}

.op_content {
    padding-bottom: 59px;
}

.op_content h3 {
    color: #000000;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.filler_btn button {
    padding: 0 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}


.star_icon i {
    padding-top: 10px;
    padding-left: 10px;
    color: #FFAF37;
}

.star_icon h3 {
    color: #000000;
    font-size: 22;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}

.star_icon p {
    color: #c4c4c4;
    font-size: 24;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}

.star_icon p span {
    color: #000000;
    font-size: 24;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* our product part end here  */


/* our deal of the day  */

.od_content_1 {
    padding-left: 70px;
    /* text-align: center; */
}

.od_content_1 h3 {
    font-size: 64px;
    font-weight: 700;
    color: #000000;
    font-family: 'Frank Ruhl Libre', sans-serif;
    padding-top: 105px;
}

.od_content_1 p {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    font-family: 'Frank Ruhl Libre', sans-serif;
    padding-top: 47px;
    padding-bottom: 69px;
    line-height: 31px;
    text-align: left;
}

.od_content_2 {
    position: relative;
}

.od_content_2 .img-1 {
    position: absolute;
    top: 50px;
    right: 60px;
    z-index: 1465;
}

.od_content_2 .img-2 {
    position: absolute;
    left: 70px;
    top: 520px;
}

#cd {
    background: white;
    height: 104px;
    width: 104px;
    margin-right: 20px;
}

.contdown h4 {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    padding-top: 31px;
    padding-left: 16px;
}

.contdown p1 {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
}

.od_content_1 button {
    height: 80px;
    width: 309px;
    text-align: center;
    background: #000000;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 40px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

/* our deal of the day  */


/* Feedback section  */

#feedback {
    padding-top: 120px;
    padding-bottom: 52px;
    text-align: center;
}

#feedback h3 {
    color: #000000;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

#feedback p {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding-top: 42px;
    padding-bottom: 52px;
}

.slider_card_1 {
    width: 521px;
    height: 364px;
    background: #FEECC8;
    text-align: center;
    margin-right: 22px;
}

#feedback .slider_card_1 h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding-top: 35px;
    padding-bottom: 23px;
}

#feedback .slider_card_1 p {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    padding: 0 98px;
}

#feedback .slider_card_1 img {
    padding: 27px 0 10px 0;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
}


/* Feedback section  */


.pd_card img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
}


/* footer section  */

#footer {
    padding: 128px 0;
    background: #000000;
    position: relative;
    text-align: center;
}

.footer_menu {
    display: inline-block;
    margin-bottom: 111px;
}
.footer_menu ul li {
    display: inline-block;
}
.footer_menu ul li a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding-left: 65px;
    margin: 0 auto; 
}

.copyright p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.insta_tag {
	position: absolute;
	top: -54px;
	left: 675px;
    padding: 43px 84px;
}

.insta_tag p {
    color: #000000;
    font-size: 1.75rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}



/* footer section  */